h1, h2 {
color: blueviolet;
}
p {
color: gray;
}
ul {
border: 2px solid orange;
}
ol {
border: 2px solid green;
}
ol, ul {
padding: 10px 30px;
border-radius: 4px;
}
h1, strong {
color: purple;
}
em {
color: gray;
}